@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@0;1&family=Nunito:ital,wght@0,200;0,300;1,200;1,300;1,400;1,600&family=Piazzolla:opsz,wght@8..30,200;8..30,300;8..30,400&family=Pixelify+Sans&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,300&family=Roboto+Mono:ital,wght@0,500;1,500&family=Roboto:ital,wght@0,400;1,100&family=Ubuntu:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
.navbar{
    background-color: #fcfbfb;
}
.navbar-brand{
    font-size: 1.5rem !important;
    color: #fdfdff !important;
}
.navbar a{
    font-size: 1rem;
    text-transform: capitalize;
}
.menu_active{
    font-weight: bold;
    border-bottom: 1px solid #535687;
}
.navbar a:hover{
    color: #983bc4 !important;
}
@media(max-width:991px){
    .navbar-brand{
        font-size: 1.3rem !important;
    }
    .menu_active{
        font-weight: bold;
        border-bottom: none;
    }
}
.nav-link{
     color: #fdfdff;
}
.bttn{
    margin-right: 80px;
    background-color: #983bc4;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 0.5px solid black;
    border-radius: 0px;
    box-shadow: 5px 4px 2px 1px rgb(0, 0, 0);
}
.bttn1{
    margin-right: 30px;
    background-color: #983bc4;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 0.5px solid black;
    border-radius: 0px;
    box-shadow: 5px 4px 2px 1px rgb(0, 0, 0);
}
.bttn:hover{
    color: #fff;
}
.bttn1:hover{
    color: #fff;
}
.icon{
    margin-right: 40px;
    cursor: pointer;
}
.icon1{
    cursor: pointer;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 250px;
}
#header{
    width: 100%;
    height: 90vh;
    padding-top: 120px;
}
#header .title{
    text-align: center;
    font-size: 67px;
    font-weight: 700;
    color: black;
}
span{
    text-align: center;
    font-size: 67px;
    font-weight: 700;
    color: rgb(243, 243, 243);
}
#header .brand-name{
    color: #ffffff;
}
#header h2{
    color: #ffffff;
    font-size: 18px;
}
#header .bttn{
    margin-top: 40px;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 0px;
    transition: 0.5s;
    color: #000000;
    border: 2px solid #000000;
    text-decoration: none;
}
#header .bttn:hover{
    background: #983bc4;
    color: #fff;
}
#header .learn{
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
#header .learn:hover{
    color: #983bc4;
}
.img{
   padding-top: 10px;
   padding-top: 50px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
/*
@media(max-width:991px){
    #header{
        height: 80vh;
        text-align: center;
    }
    #header .header-img{
        text-align: center;
    }
    #header .header-img img{
        width: 60%;
    }
}
@media(max-width:768px){
    #header{
        margin-top: 20px;
    }
    #header h1{
        font-size: 28px;
    }
    #header h2{
        font-size: 18px;
        margin-bottom: 30px;
    }
    #header .header-img img{
        width: 70%;
    }
}
*/